
   
    <div class="d-flex flex-column flex-shrink-0  bg-light sidebarContainer" >
    <div style="position: fixed;top:70px;width:280px">


    <ul class="nav nav-pills flex-column ">
      <li class="nav-item py-2 sidebarLi">
        <a href="/home/{{username}}" class="nav-link link-dark" aria-current="page">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="" style="height: 25px; width: 25px;">
          <span>Home</span>
          
        </a>
      </li>
      <li class="py-2 sidebarLi">
        <a href="#" class="nav-link link-dark">
            <img src="https://www.citypng.com/public/uploads/preview/-11591381976e1qbpa99ux.png" alt="" style="height: 25px; width: 25px;">
           <span>Explore</span>
          
        </a>
      </li>
      <li class="py-2 sidebarLi">
        <a href="#" class="nav-link link-dark">
            <img src="https://www.citypng.com/public/uploads/preview/download-black-notification-bell-icon-png-11638985042go8osljf1q.png" alt="" style="height: 25px; width: 25px;">
           <span>Notifications</span>
          
        </a>
      </li>
      <li class="py-2 sidebarLi">
        <a href="#" class="nav-link link-dark">
            <img src="https://www.pngfind.com/pngs/m/56-568764_message-png-message-icon-png-white-transparent-png.png" alt="" style="height: 25px; width: 25px;">
          <span>Messages</span>
          
        </a>
      </li>
      <li class="py-2 sidebarLi">
        <a href="#" class="nav-link link-dark">
            <img src="https://w7.pngwing.com/pngs/440/362/png-transparent-computer-icons-bookmark-symbol-bookmark-miscellaneous-angle-text-thumbnail.png" alt="" style="height: 25px; width: 25px;">
          <span>Bookmarks</span>
          
        </a>
      </li>
      <li class="py-2 sidebarLi">
        <a href="#" class="nav-link link-dark">
            <img src="https://toppng.com/uploads/preview/list-view-icon-list-icon-11553453095qtwdunew3n.png" alt="" style="height: 25px; width: 25px;">
          <span>List</span>
          
        </a>
      </li>
      <li class="py-2 sidebarLi">
        <a href="/profile/{{username}}" class="nav-link link-dark">
            <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg" alt="" style="height: 25px; width: 25px;">
          <span>Profile</span>
          
        </a>
      </li>
      <li class="py-2 sidebarLi">
        <a href="#" class="nav-link link-dark">
            <img src="https://www.freeiconspng.com/uploads/circle-detail-more-icon-22.png" alt="" style="height: 25px; width: 25px;">
          <span>More</span>
         
        </a>
      </li>
      <li class="TweetBtnLi">
        <button type="button" class="btn btn-primary sidebarTweetBtn" style="width:70%">Tweet</button>
      </li>
    </ul>
    
    <div class="dropdown user" style="padding-top: 50px;" >
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="justify-content: center; margin-right:13px">
        <img src={{user.userimage}} alt="" width="32" height="32" class="rounded-circle me-2">
        <span><strong>{{user.name}}</strong></span>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li>
          <form action="/signup" method="get" class="dropdown-item">
          <button type="submit" style="border: none;background-color:transparent"><strong>Add an existing account</strong></button>
          </form>
          
        </li>
        <li>
          <p class="dropdown-item" id="logout" style="margin: 0px;"> <strong>Log out @{{username}}</strong> </p>
        </li>
      </ul>
    </div>

    </div>

  </div>